# Node.js dependencies
node_modules/

# Compiled JavaScript
*.min.js

# VSCode settings (if you don't want to share your workspace settings)
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Logs
logs
*.log

# Temporary files
*.tmp
*.temp

# Optional: Ignore IDE-specific settings or files
.idea/
*.iml
*.sublime-*

# Build files
dist/
build/
